langchain==0.1.16
langchain-community==0.0.34
langchain-openai==0.0.8
chardet==5.2.0
transformers==4.38.2
sentence_transformers==2.5.1
python-dateutil==2.9.0.post0
unstructured[all-docs]
rapidocr_onnxruntime==1.3.15
PyMuPDF==1.23.26
websockets==12.0
fastapi==0.110.0
uvicorn==0.27.1
openai==1.13.3
PyAudio==0.2.14
webrtcvad==2.0.10
zhconv==1.4.3
solders==0.20.0
tiktoken==0.6.0
edge-tts==6.1.10
playsound==1.3.0
psutil==5.9.8
gputil==1.4.0
pygobject==3.48.1
aiofiles==23.2.1
fasttext-langdetect==1.0.5
